@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  height: 100vh;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/background.jpg");
  background-size: cover;
}

.App {
  position: relative;
  width: 100rem;
  height: 60rem;
  background: #ffffff59;
  backdrop-filter: blur(200);
  filter: blur();
  box-shadow: 0 3rem 5rem #00000040;
  border-right: 9px;
  overflow: hidden;
  display: flex;
  border-radius: 5px;
}

.player {
  flex: 50%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300px;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: royalblue;
  margin-bottom: auto;
}

.player_active {
  background: rgba(255, 255, 255, 0.4);
}

.player_active .name {
  font-weight: 700;
}

.player_active .score {
  font-weight: 400;
}

.player_active .current {
  opacity: 1;
}

.current {
  background: royalblue;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current_label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current_score {
  font-size: 3.5rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  color: #444;
  background: #fff;
  opacity: 70%;
  border: none;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-right: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translateX(-50%) translateY(5px);
}


.btn_new {
  top: 4rem;
}

.btn_roll {
  top: 40rem;
}

.btn_hold {
  top: 46rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player_winner {
  background: #2f2f2f;
}
.h2_player_winner {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
